/.ipynb_checkpoints
/.vscode
/SF.ipynb
/UFO.py
/church.py
/churn.csv
/citibike-tripdata.csv
/consept.py
/consept1.py
/country_vaccinations.csv
/covid.py
/covid_data.csv
/dates.csv
/file.ipynb
/films.py
/graficks.py
/graficks_proba.py
/melb_data.csv
/melb_data_fe.csv
/melb_data_ps.csv
/movies.csv
/orders.csv
/orders_products.py
/products.csv
/ratings1.csv
/ratings2.csv
/ratings_movies.csv
/sf_pandas.py
/students_performance.csv
/trip.py
/ufo.csv
/untitled